$bp-laptop: 'screen and (max-width: 1441px)';
$bp-tablet-bigger: 'screen and (max-width: 1200px)';
$bp-tablet: 'screen and (max-width: 992px)';
$bp-mobile: 'screen and (max-width: 768px)';
$custom-tablet: 'screen and (max-width: 912px)';
$bg-big-mobile: 'screen and (max-width: 900px)';
$bp-reg-mobile: 'screen and (max-width: 800px)';
$print: 'print';