$blue_primary:#1976D2;
$blue_secondary: #EDF5F7;
$blue_trimary: #dcf5fe;
$white: #fff;

$gray: #EFF1F2;
$gray_secondary:#EFF1F2;
$gray_trimary: #6F787C;

$black: #191C1D;
$black_secondary: #40484b;

$red_primary: #BA1B1B;
$red_secondary: #FFDAD4;

$brown: #896C3F;
$brown_secondary: #FCF8E4;

$yellow: #FDC130;

$disabled: #E1E3E4;

$pwd_button: #D9F5FF;